    <html><head>Hello <%= @name %></head><body>
    <p>HOSTNAME: <%= node['hostname'] %></p>
    <p>IP ADDRESS: <%= node['ipaddress'] %></p>
    <p>CPU: <%= node['cpu']['0']['mhz'] %></p>
    <p>MEMORY: <%= node['memory']['total'] %></p>
    <p>NAME: <%= @name %></p>
    </body></html>"
